body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
}
.lista {
    display: flex;
    column-gap: 20px;
}
.logo_cat {
    height: 100px;
    width: 100px;
}
a {
    list-style-type: none;
    color: #E5E7EB;
}
li {
    list-style-type: none;
}
.links {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    align-items: center;

}
.logo_gigante {
    width: 600px;
    height: 300px;
    margin: 0;
    
}
.logo {
    display: flex;
}
.logo1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    font-weight: bold;
    padding-left: 10px;
}


.header_2{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    padding-left: 250px;
    padding-right: 250px;
    align-items: center;
    justify-content: center;
    column-gap:  30px;
    padding-top: 70px;
    padding-bottom: 180px;
}
.info_title {
    font-size: 55px; 
    font-weight: bold;
    margin: 5px;
    margin-bottom: 15px;
}
.info {
    font-size: 40px;
    margin: 5px;
    margin-bottom: 15px;
}
.subtitle {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}
.info_button {
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    background-color: #3882F6;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;;
}
.information_2{
    background-color: #E5E7EB;
    padding: 170px;
    padding-left: 300px;
    padding-right: 300px;
}
.info_text{
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.info_autor {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}
.information_3 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    margin: 100px;
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;   
}
.box_text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.pp {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}
.oo {
    margin: 0;
    padding-top: 5px;
}
.box_button{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border: 3px solid white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    
}
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    height: 150px;
}

.info_imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.img {
    height: 220px;
    width: 220px;
    border: 5px solid #3882F6;
    border-radius: 18px;
}
.uwu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    row-gap: 10px;
    
}
.rr {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
}
.info_title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
    color: #1F2937;
    font-size: 45px;
    padding-bottom: 30px;

}
.information {
    padding: 60px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap')
